@font-face {
  font-family: "DecimaMonoPro";
  src: url("/fonts/DecimaMonoPro400.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DecimaMonoPro";
  src: url("/fonts/DecimaMonoPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DecimaMonoPro";
  src: url("/fonts/DecimaMonoProLt.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

:root {
  font-family: "DecimaMonoPro", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(68, 66, 66, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #6d6767;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
}
a,
button {
  all: unset;
  cursor: pointer;
}
a,
button,
input {
  font-family: "DecimaMonoPro", sans-serif;
}
body {
  font-family: "DecimaMonoPro", sans-serif;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
